TESTMAIL_API_KEY=
TESTMAIL_NAMESPACE=


# Login users
TEST_USER1_FIRST_NAME='Bob'
TEST_USER1_LAST_NAME='Smith'
TEST_USER1_EMAIL='customer3@practicesoftwaretesting.com'
TEST_USER1_PASSWORD='pass123'

TEST_USER2_EMAIL='customer@practicesoftwaretesting.com'
TEST_USER2_PASSWORD='welcome00'

# Contact user
TEST_CONTACT_FIRST_NAME="John"
TEST_CONTACT_LAST_NAME="Doe"
TEST_CONTACT_EMAIL="john.doe@gmail.com"
TEST_CONTACT_SUBJECT="status-of-order"
TEST_CONTACT_MESSAGE="I would like to know more about your product range."

#Users API 
API_BASE_URL = 'https://api.practicesoftwaretesting.com'
TEST_API_VALID_EMAIL = "customer@practicesoftwaretesting.com"
TEST_API_VALID_PASSWORD = "welcome01"