
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
/.vscode/
/scripts/*
!/scripts/
!/scripts/generate-snapshots.mjs
!/scripts/generate-report-index.mjs
/tests/data/registrations.csv
